//--------- start footer Area -------------//
.footer-area {
	background-color: $base_color;
	.form-control{
		background-color: transparent;
	}
	.form-group{
		margin-top: 25px;
	}
	.single-footer-widget {
		@media (max-width: 991px) {
			margin-bottom: 30px;
		}

		p{
			font-size: 16px;
			color: $white_color;
		}
		h2{
			font-size: 24px;
			color: $white_color;
			@media #{$tab}{
				font-size: 18px;
			}
			@media #{$medium_device}{
				font-size: 18px;
			}
		}
		h4 {
			margin-bottom: 23px;
			font-weight: 700;
			font-size: 24px;
			color: $white_color;
			@media (max-width: 1024px) {
				font-size: 18px;
			}
			@media (max-width: 991px) {
				margin-bottom: 15px;
			}
		}
		ul {
			li {
				margin-bottom: 10px;
				a {
					color: #555555;
					@include transform_time(0.5s);
					font-size: 15px;
					&:hover{
						color: $btn_bg;
					}
				}
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
		.form-wrap {
			margin-top: 25px;
		}
		input {
			height: 40px;
			border: none;
			width: 65% !important;
			font-weight: 400;
			padding-left: 20px;
			border-radius: 0;
			font-size: 13px;
			color: $white_color !important;
			border: 0px solid transparent;
			font-family: $font_stack_1;
			background-color: #ff3333;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
		#mc_embed_signup{
			margin-top: 25px;
		}
		::placeholder{
			color: $white_color !important;
		}
		.click-btn {
			background-color: $btn_bg;
			color: $white_color;
			border-radius: 0;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			padding: 8px 20px;
			border: 0;
			font-size: 12px;
			font-weight: 400;
			font-family: $font_stack_1;
			position: relative;
			left: 0;
			&:focus {
				outline: none;
				box-shadow: none;
      }
      
      @media(max-width: 375px){
        margin-top: 10px;
      }

			@media(min-width: 400px){
				left: -50px;
			}
     }
	}
	.footer_1{
		img{
			margin-bottom: 35px;
		}
		p{
			margin-bottom: 15px;
		}
	}
	.footer_2{
		.social_icon{
			margin-top: 27px;
			a{
				color: #cccccc;
				font-size: 14px;
				margin-right: 20px;
			}
		}
	}

	.footer_3{
		.footer_img{
			.single_footer_img{
				width: 30%;
				float: left;
				margin: 1%;
				position: relative;
				z-index: 2;
				@media #{$small_mobile}{
				}
				@media #{$large_mobile}{
					width: 15%;
				}
				@media #{$tab_device}{
					width: 10%;
				}
				@media #{$medium_device}{
					width: 10%;
				}
				&:after{
					position: absolute;
					left: 0;
					top: 0;
					content: "";
					background-color: #000;
					width: 100%;
					height: 100%;
					opacity: 0;
					@include transform_time(0.5s);
				}
				i{
					text-align: center;
					position: absolute;
					top: 41%;
					margin: 0 auto;
					left: 0;
					right: 0;
					color: #fff;
					z-index: 2;
					opacity: 0;
				}
				&:hover{
					&:after{
						opacity: 0.5;
					}
					i{
						opacity: 1;
					}
				}
			}
		}
	}
	.contact_info{
		position: relative;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0px;
		}
		p{
			margin-bottom: 26px;
			@media #{$tab}{
				margin-bottom: 15px;
			}
			span{
				color: #0c2e60;
				font-size: 16px;
			}
		}
	}
	.btn{
		background-color: $white_color;
		color: $white_color;
		width: 40px;
		border-radius: 0px;
		height: 40px;
		padding: 0;
		border-radius: 2px !important;
		@media #{$tab}{
			margin-top: 0;
		}
	}
	span.ti-heart {
		font-size: 12px;
		margin: 0px 2px;
	  }
	.copyright_part_text{
		margin-top: 100px;
		p{
			font-size: 15px;
		}
		
		@media #{$small_mobile}{
			margin-top: 20px;
			text-align: center;
			p{
				font-size: 13px;
			}
		}
		@media #{$large_mobile}{
			text-align: center;
			margin-top: 20px;
			p{
				font-size: 13px;
			}
		}
		@media #{$tab_device}{
			margin-top: 42px;
		text-align: center;
		}
		@media #{$medium_device}{
		
		}
		a{
			color: $btn_bg;
		}
	}
	.input-group{
		border: 1px solid #dedede;
		padding: 5px;
		::placeholder{
			font-size: 13px;
			color: $white_color;
		}
		i{
			color: $base_color;
		}
	}
	.footer-text{
		color: $white_color;
		a, span{
			color: $white_color;
		}

	}
	.social_icon{
		text-align: right;
		@media #{$tab}{
			text-align: center;
			margin-top: 20px;
		}
		a{
			background-color: #fe3233;
			color: $white_color;
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			margin-left: 7px;
			@include transform_time (.5s);
			&:hover{
				background-color: $white_color;
				color: $base_color;
				
			}
		}
	}
	.button-contactForm {
		color: $black_color;
		background-color: $white_color;
		padding: 8.5px 25px;
		margin-left: -3px;
		i{
			margin-left: 10px;
		}
	}
}
//--------- end footer Area -------------//